.menu {
    display: flex;
    background-color: aquamarine;
    background: #D2E3F6;
    font-family: "Courier";
    font-weight: bolder;
    width: 40rem;
    width: 600px;
    height: 700px;
    flex-direction: column;
    padding-left: 50px;
}

h2 {
    padding-left: 200px;
}

.cabecera {
    padding-bottom: 10px;
    padding-left: 100px;
}

form {
    background: lightgray;
    border: solid 4px #6696FF;
    border-radius: 5px;
    width: 500px;
}

.contenedor {
    align-items: center;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    gap: 5px 100px;
    width: 450px;
}

input {
    width: 200px;
    margin: 1mm;
}

.elemento {
    width: 150px;
    margin: 2mm;
}

.botones {
    display: flex;
    width: 50px;
    padding-left: 200px;
    padding-top: 30px;
}